#color-code-display {
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.container {
    font-size: 200%;
    margin-top: 40%;
}

.container>p {
    margin-top: 60%;
}

